@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

.dark-mode {
	background-color: #1C1C1C;
	color: #FAFAFF;
}

.light-mode {
	background-color: #FAFAFF;
	color: #1C1C1C;
}

.darkModeText {
	color: #FAFAFF;
}

.lightModeText {
	color: #1C1C1C;
}

.container1 {
  border: 2px solid #dedede;
  background-color: #DADDD8;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #1C1C1C;
}

.container1::after {
  content: "";
  clear: both;
  display: table;
}

.container1 img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.time {
	color: grey !important;
	font-size:.8rem;
}

.tooltiptimevisible {
	visibility: visible !important;
}

.tooltiptime {
	visibility: hidden;
	width: 135px;
	background-color: black;
	color: white !important;
	text-align: center;
	border-radius: 6px;
	padding: 0px 0px;
	position: relative;
	right: 100px;
	bottom: 10px;
}

.container1 img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
